$colorPurple: rgb(167, 145, 206);
$colorYellow: #FFB637;
$colorBlack: rgb(30, 32, 33);

* {
    font-family: 'Noto Sans TC', sans-serif;
    // border: 1px solid #000
}

@mixin mobile {
    @media(max-width: 768px) {
        @content
    }
}

html,body {
    width: 100%;
    height: 100%;
    margin: 0;
}
    
body {
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #37353a;

    @include mobile {
        width: 100vw;
        height: 100vh;
        overflow-y: auto;
    }
}

    
.panels {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 900px;
    max-height: 90vh;
    position: relative;
    z-index: 1;
    @include mobile {
        max-width: 100vw;
        max-height: 100vh;
    }
}

.panel {
    flex: 5;
    padding: 30px;
    color: $colorPurple;
    background-color: $colorBlack;
    box-shadow: 0px 0px 30px rgba(black,0.2);
    margin-top: 5px;
    border-radius: 5px;
    transition: 0.75s;
    &.yellow {
        flex: 4;
        background-color: $colorYellow;
    }
}

#allList {
    max-height: 35vh;
}
.inner {
    height: 30vh;
    overflow: auto;
}

    
h1,h3 {
    text-align: center;
    margin: 0;
}

h1 {
    font-weight: 700;
}

h3 {
    font-weight: 500;
}
    
.texts {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
    @include mobile {
        flex-direction: column;
    }
}
textarea {
    width: 45%;
    padding: 10px;
    display: inline-block;
    box-sizing: border-box;
    font-size: 20px;
    letter-spacing: 1px;
    outline: none;
    border: solid 2px rgba(black,0.3);
    background-color: $colorBlack;
    color: whitesmoke;
    &:focus {
        border-color: $colorPurple;
    }
    @include mobile {
        width: 100%;
    }
}

    
.buttons {
    display: flex;
    justify-content: center;
    margin-top: 30px;

    #convert {
        // color: #fff;
        background-color: rgba(#fff,0.8);
    }
}

    
button {
    padding: 10px 20px;
    border-radius: 5px;
    margin: 6px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 3px;
    border: none;
    cursor: pointer;
    &:hover {
        filter: brightness(80%);
        transition: 0.5s;
    }
    &.yellow {
        background-color: $colorYellow;
        color: $colorBlack;
    }
        
    &.purple {
        background-color: $colorPurple;
        color: $colorBlack;
    }
        
    &.white {
        background-color: white;
        border: solid 2px $colorPurple;
    }
}

    
//交換符號
.symbol {
    font-size: 24px;
    font-weight: 900;
    padding: 0;
    text-align: center;
    display: inline-block;
    transition: 0.75s;
    @include mobile {
        transform: rotate(90deg);
        padding: .5rem;
    }
}

.btnDisplay {
    width: 100%;
    margin: 5px 0 -15px 0;
    background-color: $colorBlack;
    color: $colorPurple;
    border-radius: 5px 5px 0 0;
    z-index: 1;
    cursor: pointer;
    .symbol {
        font-size: 18px;
        transform: rotate(0deg);
    }
}
.rotate {
    border-radius: 5px;
    .symbol {
        transform: rotate(180deg);
    }
}
.rotate#allList {
    // display: none;
    max-height: 0px;
    padding: 0 30px;
    overflow: hidden;
}

.rotate360 {
    transform: rotate(360deg);
    @include mobile {
        transform: rotate(450deg);
    }
}

hr {
    border: none;
    border-bottom: solid 1px $colorPurple;
}

    
//背景文字
    
.decoration {
    font-size: 500px;
    color: white;
    position: absolute;
    font-weight: 900;
    opacity: 0.1;
}

    
//翻譯清單 flex排版
    
.translist {
    max-height: 35vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    li {
        margin-bottom: 5px;
        font-size: 18px;
        width: 20%;
        @include mobile {
            width: 33%;
            font-size: 16px;
        } 
    }   
    @include mobile {
        max-height: 80vh;
    }     
}


::-webkit-scrollbar {
    width: 10px;
    background-color: $colorBlack;
}
::-webkit-scrollbar-thumb {
    background-color: $colorPurple;
}